# Análisis de Datos de Hechos de Tránsito 2024

Este notebook tiene como objetivo explorar y analizar el conjunto de datos correspondiente a los hechos de tránsito ocurridos en el año 2024. Las tareas principales incluyen:

- Carga y visualización inicial del dataset.
- Inspección de la estructura de los datos (columnas, tipos de datos, valores nulos).
- Obtención de estadísticas descriptivas.
- Preparación para futuros análisis, como detección de patrones, limpieza y visualización de datos.

El análisis busca proporcionar una base sólida para comprender la naturaleza de los incidentes de tránsito reportados y facilitar una posterior toma de decisiones o generación de reportes.

In [ ]:
# Importamos la librería pandas con el alias 'pd' para el manejo de datos
import pandas as pd

# Definimos la ruta del archivo CSV que contiene los datos acumulados de hechos de tránsito de 2024
ruta = '../data/accidentes_cdmx.csv'

# Leemos el archivo CSV y lo cargamos en un DataFrame llamado 'df'
df = pd.read_csv(ruta)

In [ ]:
# Mostramos nuevamente las primeras 5 filas del DataFrame
df.head()

In [ ]:
# Mostramos el nombre de todas las columnas del DataFrame
df.columns

In [ ]:
# Mostramos los tipos de datos de cada columna (por ejemplo: int, float, object, etc.)
df.dtypes

In [ ]:
# Mostramos la cantidad de valores nulos (NaN) por cada columna
df.isnull().sum()

In [ ]:
# Mostramos estadísticas descriptivas de todas las columnas, incluyendo categóricas y numéricas
df.describe(include='all')